@import '~antd/dist/antd.css';
@import 'styles/style.components';
$primary-color: $root-color; // primary color for all components

.app-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-body {
  min-height: 80vh;
  background: #61dafb;
}

.app-footer {
  min-height: 12vh;
  color: aliceblue;
  background: #282c34;
}

.leaflet-container {
  min-height: 50px;
  max-height: 80%;
  min-width: 100px;
  max-width: 100%;
}
