//noinspection CssUnknownTarget
.logo {
  background-repeat: no-repeat;
  background-image: url("./assets/img/Logo_miniature_concept.png");
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.m\-1 {
  margin: 1rem;
}

.bg\-white {
  background-color: #f6f6f6;
}

.radius\-circle {
  border-radius: 50%;
}