@import "./variables";

.content {
  overflow-x: hidden;
  background-color: $root-color;
}

.contact {
  text-align: center;

  b {
    margin-top: 4px;
    font-size: 14px;
  }

  address {
    display: block;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 8px;
    a {
      color: royalblue;
      line-height: 1em;
      display: inline-block;
      text-decoration: none;
      margin: 0.5em;
    }
  }
}

