.custom-button {
  min-width: 165px !important;
  width: auto !important;
  height: 50px !important;
  letter-spacing: 0.5px !important;
  line-height: 50px !important;
  padding: 0 35px 0 35px !important;
  font-size: 15px !important;
  background-color: black;
  color: white;
  text-transform: uppercase !important;
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: bolder !important;
  border: none !important;
  cursor: pointer !important;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}