@import 'src/main/webapp/app/styles/variables';

.ribbon {
  background-color: rgba(200, 0, 0, 0.7);
  left: -5.5em;
  top: 15px;
  width: 18em;
  opacity: 0.75;
  z-index: 99999;
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;

  a {
    font-size: 1.5rem;
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

.header {
  height: 82px;
  background-color: $root-color !important;

  > a {
    > h1 {
      color: #fff;
      font-size: 2rem;
      font-weight: bolder;
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Apple Garamond", serif;
  }

  svg {
    font-size: 24px;
    padding: 4px;
    margin: 4px;
  }

  .ant-menu-item:hover {
    border-bottom: 0 inherit;
  }
  .ant-menu  {
    background-color: $root-color;
  }
}

.no-decoration {
  :hover {

  }
  border-bottom: 0 inherit;
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0;
  z-index: 1031;
}

.header-color {
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    color: #ffffff;
    border-bottom: 0;
  }
  .ant-menu-item, .ant-menu-item-only-child {
    border-bottom: 0;
    --antd-wave-shadow-color: #fff;
  }
}
