.maps {

  .map-hidden {
    height: 100%;
    width: 100%;
    left: 0;
    margin-top: 30px;
    overflow-y: hidden;
    overflow-x: hidden;

    & div.leaflet-container {
      height: 70vh;
      width: 80vw;
    }
  }

  .map-visible {
    height: 100%;
    width: 100%;
    left: 0;
    margin-top: 30px;
    overflow: hidden;

    & div.leaflet-container {
      height: 70vh;
      width: 80vw;
    }
  }

  .leaflet-wrapper {
    position: absolute;
    width: 80vw;

    > div.leaflet-container {
      height: 100%;
      width: 100%;
    }
  }

  .leaflet-bottom {
    z-index: 1002 !important;
  }

  .leaflet-wrapper-small {
    position: absolute;
    width: 80vw;
    height: 70vh;
  }

  .leaflet-side-menu {
    background: initial !important;
    margin: 0;
    height: 100%;
    max-width: 90%;
    z-index: 1000;
    overflow: hidden;

    .geocoder-control {
      input {
        flex: auto;
        max-width: 100%;
        max-height: 100%;
        min-height: 32px;
      }
    }

    .leaflet-control-attribution {
      top: 80vh !important;
    }

    > aside:not(.ant-layout-sider-collapsed) {
      flex: 0 0 400px !important;
      min-width: 0 !important;
      max-width: 400px !important;
      width: 400px !important;
      background: white !important;
      max-height: 100% !important;
      box-shadow: 0 0 3px 1px #999;

      div {

        ul {
          max-height: 450px;
          min-height: 10%;
        }
      }

      .add-announcement-form {
        width: 100%;
        height: calc(70vh - 50px);
        overflow-y: auto;
        overflow-x: hidden;
        margin-bottom: 12px;

        > form {
          margin: 0 !important;
          height: 400px;
        }
      }
    }

    > aside.ant-layout-sider-collapsed {
      flex: 0 0 0 !important;
      min-width: 0 !important;
      max-width: 0 !important;
      background: initial !important;
      width: 0;

      div {
        height: 100%;
        width: 0;
      }

      ul {
        height: 100%;
        border: 0;
        padding: 0 !important;
        width: 0;
      }
    }

    .custom-ant-layout {
      flex: initial;
      margin-top: 16px;
      background: initial !important;
      overflow: hidden;
      height: 50px;
      width: 38px;
      z-index: 1000;

      .site-layout-background {
        position: static;
        padding: 0;
        background: initial !important;
      }

      button {
        padding-left: 5px;
        padding-right: 5px;
        background: white !important;
        height: 36px;
        width: 36px;
        border-bottom-right-radius: 45%;
        border-top-right-radius: 45%;
        box-shadow: 0 0 3px 1px #999;
      }
    }
  }
}

.leaflet-div-icon {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 0 !important;
  opacity: 0.9;
}
