
.login-container {
  text-align: center;

  input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input::placeholder {
    color: #cccccc;
  }

  input {
    background-color: #f6f6f6;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

  input[type=password]::placeholder {
    color: #cccccc;
    margin-left: 10px;
  }

  button, input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  button:hover, button[type=submit]:hover {
    background-color: #39ace7;
  }

  button:active, button[type=submit]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}

.login-content {
  height: 720px;
  background: #fff;
  box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
  border-radius: 2px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;
  vertical-align: middle;
  position: relative;
  padding: 35px;

  .social-login {
    display: block;
    width: 50%;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    margin: 5px auto 10px;
    transition: all .3s ease-in-out;
  }

  .social-login:hover {
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.4);
  }

  a.github-login {
    background-color: #111;
  }

  a.google-login {
    background-color: #db4437;
  }

  form {
    margin: auto auto;
    max-width: 90%;
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 10px 4px;
    outline: none;
  }

  input:hover {
    background: #555555;
  }

  .input-group {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  a.forget-link {
    color: black;
    display: block;
    margin: 10px 0;
  }

  button[type="submit"] {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 24px;
    width: 60%;
    outline: none;
    border: None;
    transition: all .3s ease-in-out;
  }

  button[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.4);
  }
}
