$main: #145374;
$second: #00334e;
$contrast: #ee6f57;
$white: #f6f5f5;

.profile {

  * {
    border: solid 0;
    font-family: 'Open Sans', sans-serif;
  }

  .profile-activate {
    width: 80rem;
    background-color: $white;
  }

  .container {
    width: 50rem;

    margin: 3em auto;
    border-radius: 6px;
    border: solid 1px rgba($second, 0.5);
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba($second, 0.8);
    background-color: #fff;
  }

  & h1 {
    text-align: center;
    color: $main;
    margin: 0.5em 0 0;
  }

  & h2 {
    text-align: center;
    margin-top: 2px;
    font-size: 12px;
  }

  .user {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    background-color: $white;
    top: 0;

    & h3 {
      color: $main;
      margin: 0.5em 0 0;
    }

    & p {
      margin-top: 2px;
      font-size: 12px;
    }

    .avatar {
      width: 10rem;
      height: 10rem;
      margin: .5rem auto auto;
      background-size: cover;
      z-index: 11;

      img {
        padding: 3px;
        width: 10rem;
        height: 10rem;
        z-index: -1;
      }
    }
    .profile-menu {
      margin-bottom: 2rem;
    }
  }

  .nav {
    color: #0d0d0d;
    width: 100%;
    height: 3em;
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);

    ::selection {
      color: #0d0d0d;
    }

    & ul {
      list-style: none;
      width: 100%;
      height: 3em;
      margin: 0;
      padding: 0;

      & li {
        display: inline-block;
        width: 23%;
        margin: 0;
        padding: 0;
        height: 100%;
        text-align: center;

      }
    }
  }
}

.profile-container {
  padding-top: 30px;
}

.profile-info {
  color: #f6f6f6;
  text-align: center;
}

.profile-info .profile-avatar img {
  border-radius: 50%;
  max-width: 250px;
}

.profile-info .profile-name {
  font-weight: 500;
  font-size: 18px;
}

.profile-info .profile-email {
  font-weight: 400;
}

.profile-avatar {
  height: 100%;
  width: auto;
  margin: 1rem;
}

.text-avatar {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background: #46b5e5;
  background: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: -ms-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: -moz-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: -o-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: -webkit-linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
  background-image: linear-gradient(45deg, #46b5e5 1%, #1e88e5 64%, #40baf5 97%);
}

.text-avatar span {
  line-height: 200px;
  color: #fff;
  font-size: 3em;
}