@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import url('http://weloveiconfonts.com/api/?family=entypo');

.social {

  $btn: #fff;
  $fb: #47c;
  $tw: #0cf;
  $gp: #d43;
  $gh: #24292e;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :before, :after {
    content: '';
    display: block;
    position: absolute;
    box-sizing: border-box;
  }

  .inner {
    width: 780px;
    margin: 0 auto;
  }

  .inner a {
    float: left;
    margin: 45px 25px 0;
  }

  .btn {
    position: relative;
    display: block;
    width: 50%;
    height: 40px;
    font: 700 16px/40px 'Quattrocento Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    border-radius: 2px;
    background: linear-gradient(to bottom, $btn 0%, darken($btn, 10%) 100%);
    box-shadow: 0 1px 1px rgba(0,0,0,.5);
    cursor: pointer;
  }

  .btn span {
    font-size: 14px;
    text-transform: none;
    color: #aaa;
  }

  .btn:hover {
    text-shadow: 0 0 10px #fff;
  }

  /* reverse */

  .btn.reverse {
    color: #fff;
    margin: auto;
  }

  .btn.reverse span {
    color: #eee;
  }

  .btn.fb.reverse {
    background: linear-gradient(to bottom, $fb 0%, darken($fb, 10%) 100%);
  }

  .btn.gh.reverse {
    background: linear-gradient(to bottom, $gh 0%, darken($gh, 10%) 100%);
  }

  .btn.gp.reverse {
    background: linear-gradient(to bottom, $gp 0%, darken($gp, 10%) 100%);
  }

  .btn.reverse:before {
    color: #555;
    background: linear-gradient(to bottom, $btn 0%, darken($btn, 10%) 100%);
  }
}