.welcome {

  .image {
    height: 80%;
    min-width: 45%;
    left: 0;
    margin-top: 4rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .right-left {
    position: absolute;
    animation: run ease 10s;
    -webkit-animation: run ease 10s;
  }

  .title {
    margin-top: 4rem;

    h1 {
      color: #fff;
      font-size: 4rem;
      font-weight: bold;
      font-family: "Trebuchet MS, Arial, Helvetica, sans-serif", serif;
      margin-bottom: 0;
    }

    h2 {
      color: #f6f6f6;
      font-size: 2rem;
      font-family: "Trebuchet MS, Arial, Helvetica, sans-serif", serif;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
    }
  }

  .fade-in {
    color: #f6f6f6;
    animation: fadeIn ease 10s;
  }

  .fade-in-late {
    animation: fadeIn ease 20s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes run {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  @-o-keyframes run {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

  @-webkit-keyframes run {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
}