.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #ffffff;
  border-bottom: 0;
}

.ant-menu-item, .ant-menu-item-only-child {
  border-bottom: 0;
  --antd-wave-shadow-color: #fff;
}

.locale {
  margin: 0 4px 4px 4px;

  .flag-btn {
    padding: 0;
    border: 0;
    margin: 0;
    height: 48px;
    width: 48px;

    .flag {
      border-radius: 50%;
      border: 0 solid;
      margin: 0;
      padding: 0;
      height: 48px;
      width: 48px;
    }
  }
}